<div class="container text-center">

  <div class="row text-center" >
    <h1 class="col m-3">
      <u class="p-3 rounded-bottom" style="background: white;">
        Search
        <img class="m-1" src="../../../assets/search.png" alt="Search icon" style="height: 40px">
      </u>
    </h1>
  </div>

  <div class="card text-center mt-4" >
    <div class="card-body" style=" text-align: -webkit-center">
      <span>{{errorMessage}}</span>

      <form (ngSubmit)="searchByUsername()" class="text-center" style="width: 50%;">
        <div class="form-group">
          <input [(ngModel)]="this.username" type="text" class="form-control" id="searchBox" name="searchBox" placeholder="username">
        </div>

        <div class="form-group" >
          <button class="btn btn-primary btn-block" style="background-color: #3c94de; border-color: #3c94de" >Search</button>
        </div>
      </form>

      <table class="table table-hover text-center">
        <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Names</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th *ngIf="!tokenStorageService.getCompany()" scope="col">Block</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of foundUsersByUsername">
          <th (click)="openProfile(user.id)" > <div class="btn btn-link">{{user.username}}</div></th>
          <td>{{user.firstName + ' ' + user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <th *ngIf="!tokenStorageService.getCompany()" scope="col">
            <span *ngIf="!user.blocked && !user.company" (click)="blockUser(user.id)" class="btn p-0">
              <img  src="../../assets/block.png" alt="Block icon" style="height: 20px">
            </span>
            <span *ngIf="user.blocked && !user.company" (click)="unblockUser(user.id)" class="btn btn-light">
              Unblock
            </span>
          </th>
        </tr>

        </tbody>
      </table>

    </div>
  </div>

</div>
