<div class="container text-center">

  <div class="card m-3">
    <img *ngIf="user.pictureUrl" class="card-img-top " src="{{user.pictureUrl}}" style="width: 200px; align-self: center" alt="Profile picture">
    <img *ngIf="!user.pictureUrl" class="card-img-top " src="../../../assets/profile.jpg" style="width: 200px; align-self: center" alt="Profile picture">
    <div class="card-body">

      <div class="row m-3">
        <!-- Username -->
        <div class="col-md-6">
          <h5>Username:</h5>
          <div class="form-control-plaintext" >{{user.username}}</div>
        </div>

        <!-- Email -->
        <div class="col-md-6">
          <h5>Email:</h5>
          <div class="form-control-plaintext" >{{user.email}}</div>
        </div>
      </div>

      <div class="row m-3">
        <!-- First Name -->
        <div class="col-md-6">
          <h5>Names:</h5>
          <div class="form-control-plaintext" >{{user.firstName + ' ' + user.lastName}} </div>
        </div>

        <!-- Phone -->
        <div class="col-md-6">
          <h5>Phone:</h5>
          <div class="form-control-plaintext">{{user.phone}}</div>
        </div>
      </div>


      <div class="row m-3">
        <!-- Rating -->
        <div class="col-md-6">
          <h5>Rating:</h5>
          <div *ngIf="myRating">{{myRating | number:'1.2-2'}}<small>/5</small> </div>
          <div *ngIf="!myRating">No ratings</div>
        </div>

        <!-- Is Driver? -->
        <div class="col-md-6">
          <h5>Is driver?</h5>
          <div >{{user.driver}} </div>
        </div>
      </div>


      <div *ngIf="errorMessage != ''" class="text-danger">{{errorMessage}}</div>

      <button *ngIf="tokenStorageService.getUser().username !== user.username" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Rate {{user.username}}
      </button>

    </div>
  </div>

  <!-- Future Routes - Driver -->
  <div class="row">
    <h3>Future Routes as a Driver:</h3>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Car</th>
        <th scope="col">Free Seats</th>
      </tr>

      <tr *ngFor="let route of this.futureRoutes">
        <td>{{route.dateRoute.toString().split('T').join(' ')}}</td>

        <!-- From -->
        <td>
          <span *ngIf="route.officeDirection">
            <span *ngFor="let routeStop of this.route.routeStops">
              <span *ngIf="routeStop.passengerEnum.toString() == 'DRIVER'">
                {{routeStop.address.district + ' ' + routeStop.address.street}}
              </span>
            </span>
          </span>

          <span *ngIf="!route.officeDirection">
            Office
          </span>
        </td>

        <!-- To -->
        <td>
          <span *ngIf="route.officeDirection">
            Office
          </span>

          <span *ngIf="!route.officeDirection">
            <span *ngFor="let routeStop of this.route.routeStops">
              <span *ngIf="routeStop.passengerEnum.toString() == 'DRIVER'">
                {{routeStop.address.district + ' ' + routeStop.address.street}}
              </span>
            </span>
          </span>
        </td>


        <td>{{route.car.manufacturer + ' ' + route.car.model}}</td>
        <td>
          {{route.car.seats - route.routeStops.length}}
        </td>

      </tr>

    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rating</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Rate this user:
          <select id="where" [(ngModel)]="currentRate" name="address">
            <option *ngFor="let number of [1,2,3,4,5]" [ngValue]="number" >
              {{number}}
            </option>
          </select>
        </div>

        <!-- Validation for Rating -->
        <div *ngIf="!currentRate && routeFormSubmitted && !isValidFormSubmitted" [ngClass] = "'error'">
          <div class="text-danger">
            Please choose rating from the dropdown.
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="rateUser()">Rate</button>
        </div>
      </div>
    </div>
  </div>


</div>
