<div class="container-fluid text-center">

  <div class="row text-center" >
    <h1 class="col m-3">
      <u class="p-3 rounded-bottom" style="background: white;">
        All Routes
        <img class="m-1" src="../../../assets/routes.png" alt="Routes" style="height: 40px">
      </u>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-9">

      <div class="card mt-4">
        <div class="card-body pt-0">

          <div class="row">
            <div class="col-md-12 p-0">
              <button class="btn btn-light float-right mt-1" (click)="clearFilterAndSort()">Clear</button>
            </div>
          </div>

          <div class="row">

            <!-- Date Filter -->
            <div class="col-md-6 col-sm-6 col-12 align-self-center">

              <div class="row">
                <div class="col-md-6 col-sm-6 col-8" style="text-align: right">
                  <div class="m-2">
                    <mat-form-field>
                      <mat-label>From</mat-label>
                      <input matInput [(ngModel)]="fromDate" [matDatepicker]="picker" (dateInput)="changeStartDate('input', $event)" [min]="minDate">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="m-2">
                    <mat-form-field>
                      <mat-label>To</mat-label>
                      <input matInput [(ngModel)]="toDate" [matDatepicker]="picker2" (dateInput)="changeEndDate('input', $event)" [min]="minDate">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 col-4 align-self-center" style="text-align: left">
                  <button class="btn btn-primary m-1" (click)="filterRoutesByDates()" style="background-color: #3c94de; border-color: #3c94de" >Filter</button>
                </div>

              </div>
            </div>




            <div class="col-12 col-md-6 col-sm-6 align-self-center mb-3 mt-3">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-8" >
                  <div class="float-right">
                    <b>Going to:</b>
                    <div>
                      <span *ngIf="officeDirection == null">
                        <button class="btn btn-info m-1" (click)="filterByDirection(true)" >Office</button>
                        <button class="btn btn-info m-1" (click)="filterByDirection(false)">Home</button>
                      </span>
                      <span *ngIf="officeDirection == false">
                       <button class="btn btn-light m-1" (click)="filterByDirection(true)" >Office</button>
                       <button class="btn btn-info m-1" (click)="filterByDirection(false)">Home</button>
                      </span>
                      <span *ngIf="officeDirection == true">
                       <button class="btn btn-info m-1" (click)="filterByDirection(true)" >Office</button>
                       <button class="btn btn-light m-1" (click)="filterByDirection(false)">Home</button>
                    </span>
                    </div>
                    <div>
                      <b>Office addresses: </b>
                      <div>
                        <select [(ngModel)]="selectedCompanyAddress" name="address">
                          <option *ngFor="let address of companyAddresses" [ngValue]="address" >
                            {{address.street}}
                          </option>
                        </select>
                      </div>

                    </div>
                  </div>

                </div>

                <div class="col-md-4 col-sm-4 col-4 align-self-center ml-0" style="text-align: left">
                  <div (click)="filterAndSort()" class="btn btn-primary" style="background-color: #3c94de; border-color: #3c94de" >Filter</div>
                </div>

              </div>
            </div>

          </div>


          <div class="row">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th scope="col" (click)="sort()">Date <i class="fa fa-fw fa-sort"></i></th>
                  <th scope="col">Car</th>
                  <th scope="col">Driver</th>
                  <th scope="col">From Where</th>
                  <th scope="col">To Where</th>
                  <th scope="col">Save a Seat</th>
                  <th scope="col">Map</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of this.rows">
                  <td>{{row.date + ' ' + row.time}}</td>
                  <td>{{row.carName}}</td>
                  <td><div class="btn btn-link p-0" (click)="openProfile(row.driverId)"> {{row.driverName}}</div></td>
                  <td>
              <span *ngIf="row.officeDirection">
                {{row.fromWhere}}
              </span>

                    <span *ngIf="!row.officeDirection">
                {{this.findAddressById(row.officeAddressId)}}
              </span>
                  </td>
                  <td>
              <span *ngIf="row.officeDirection">
                {{this.findAddressById(row.officeAddressId)}}
              </span>

                    <span *ngIf="!row.officeDirection">
                {{row.fromWhere}}
              </span>
                  </td>
                  <td>
                    <a *ngIf="row.driverName != tokenStorage.getUser().username" class="btn btn-info" href="/route/{{row.id}}">Reserve</a>
                    <a *ngIf="row.driverName == tokenStorage.getUser().username" class="btn btn-primary" >Reserve</a>
                  </td>
                  <td>
                    <img (click)="viewOnMap(row.id)" class="btn p-0" src="../../assets/map-icon.svg" alt="Map icon" style="height: 40px">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row justify-content-center">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <a *ngIf="currentPage > 1" class="page-item"><a class="page-link" (click)="goToPage(currentPage - 1)">{{currentPage - 1}}</a></a>
                <a *ngIf="currentPage == 1" class="page-item disabled"><a class="page-link" (click)="goToPage(currentPage)">{{currentPage}}</a></a>
                <a *ngIf="currentPage != 1 && rows.length >=5" class="page-item disabled"><a class="page-link">...</a></a>
                <a *ngIf="rows.length < 5 && currentPage !== 1" class="page-item disabled"><a class="page-link">{{currentPage}}</a></a>
                <a *ngIf="rows.length >= 5" class="page-item"><a class="page-link" (click)="goNextPage()">{{currentPage + 1}}</a></a>
              </ul>
            </nav>
          </div>



        </div>
      </div>


    </div>

  <div class="col-md-3 mt-3">
    <h4 class="d-flex justify-content-center">Top Drivers</h4>
    <div *ngFor="let user of this.topUsers, let i = index">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title m-2" (click)="openProfile(user.user.id)">
            <span class="btn" style="color: #3c94de">{{user.user.username}}</span>
            <h4 class="float-right">#{{i+1}}</h4>
          </h5>
          <p class="card-text m-1">Total passengers: <b>{{user.passengersNumber}}</b></p>
        </div>
      </div>
    </div>

  </div>

  </div>
</div>
