<div class="container-fluid">
  <div class="row">

<!--    <div class="col-md-2">-->
<!--      <app-sidebar></app-sidebar>-->
<!--    </div>-->

    <div class="col-md-1"></div>

    <div class="col-md-10">

      <div class="row text-center">
        <h1 class="col m-3">
          <u class="p-3 rounded-bottom" style="background: white;">
            Cars
            <img class="m-2" src="../../../assets/car.png" alt="Car" style="height: 40px">
          </u>

        </h1>
<!--        <a (click)="navigation.open('profile/cars/create')" class="col-md-3">-->
<!--          <button type="button" class="btn btn-primary float-right">+ Add New Car</button>-->
<!--        </a>-->
      </div>
      <div class="text-danger">{{errorMessage}}</div>


      <div class="row">
        <div *ngFor="let car of cars; let i = index">
          <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{car.manufacturer + ' ' + car.model}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{car.year}}</h6>
              <p class="card-text">{{car.color + ", " + car.seats + " seats, " + car.year}}</p>
              <a (click)="navigation.open('profile/cars/edit/' + car.id)">
                <button type="button" class="btn btn-warning">Edit</button>
              </a>
              <a>
                <button (click)="deleteCar(car.id)" type="button" class="btn btn-danger float-right">Delete</button>
              </a>
            </div>
          </div>
        </div>
        <div class="card m-4 align-self-center" style="width: 18rem;">
          <div class="card-body text-center" (click)="this.navigation.open('profile/cars/create')">
            <img src="../../../assets/add.png" class="btn p-0 img-fluid" style="height: 80px;" alt="Responsive image">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-1"></div>

  </div>
</div>
