<div class="container">
  <form #routeForm="ngForm" (ngSubmit)="onSubmit(routeForm)">

    <!-- Direction -->
    <div class="form-group">Direction:</div>
    <div *ngIf="!officeDirection">
      <div class="btn btn-info" >Office</div>
      <div class="btn btn-light" (click)="changeDirection()" >Home</div>
    </div>
    <div *ngIf="officeDirection">
      <div class="btn btn-light" (click)="changeDirection()" >Office</div>
      <div class="btn btn-info" >Home</div>
    </div>

    <!-- Addresses -->
    <div class="form-group">
      <label for="where">
        <div *ngIf="!officeDirection">From where:</div>
        <div *ngIf="officeDirection">To where:</div>
      </label>
      <!-- Dropdown -->
      <div>
        <select id="where" [(ngModel)]="selectedAddress" name="address" required >
          <option value="" >Choose your address</option>
          <option *ngFor="let address of addresses" [ngValue]="address" >
            {{address.city.name + ', ' + address.district + ', ' + address.street}}
          </option>
        </select>
      </div>

      <!-- Validation for Addresses -->
      <div *ngIf="!selectedAddress.id && routeForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
        <div class="text-danger">
          Address is required.
        </div>
      </div>
    </div>

    <!-- Date -->
    <div class="form-group">
      <label>Date and Time:</label>
      <div>
        <input [(ngModel)]="date" [min]="today" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1" name="date">
        <owl-date-time #dtPicker1></owl-date-time>
      </div>
    </div>

    <!-- Cars -->
    <div class="form-group">
      <label for="car">Which Car:</label>
      <!-- Dropdown -->
      <div>
        <select id="car" [(ngModel)]="selectedCar" name="car">
          <option name="car" value="">Choose your car</option>
          <option *ngFor="let car of cars" [ngValue]="car">
            {{car.manufacturer + ', ' + car.model + ', ' + car.year}}
          </option>
        </select>
      </div>

      <!-- Validation for Cars -->
      <div *ngIf="!selectedCar.id && routeForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
        <div class="text-danger">
          Car is required.
        </div>
      </div>
    </div>

    <!-- Error Message -->
    <div class="text-danger">{{errorMessage}}</div>

    <button type="submit" class="btn btn-primary">Add New Route</button>
  </form>
</div>
