<div class="container">
  <form #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)">

    <!-- Cities -->
    <div class="form-group">
      <label for="cityId">City</label>
      <select id="cityId" [(ngModel)]="selectedCity.name" name="city" required>
        <option *ngFor="let city of cities" [value]="city.name" [selected]="city?.name == selectedCity?.name">
          {{city.name}}
        </option>
      </select>

      <!-- Validation for Cities -->
      <div *ngIf="!addressClass.city && ngForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
        <div class="text-danger">
          City is required.
        </div>
      </div>
    </div>

    <!-- Google maps -->
    <div class="form-group">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
    <h6 *ngIf="address">Address: {{address}}</h6>
    </div>


    <!-- District -->
    <div class="form-group">
      <label for="districtId">District</label>
      <input class="form-control" id="districtId" [(ngModel)]="addressClass.district" name="district" required minlength="2" maxlength="64" #district="ngModel">

      <!-- Validation for District -->
      <div *ngIf="district.errors && ngForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
        <div *ngIf="district.errors.minlength" class="text-danger">
          District must be at least 2 characters long.
        </div>
        <div *ngIf="district.errors.maxlength" class="text-danger">
          District must be maximum 64 characters long.
        </div>
        <div *ngIf="district.errors.required" class="text-danger">
          District is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="streetId">Street</label>
      <input class="form-control" id="streetId" [(ngModel)]="addressClass.street" name="street" required minlength="2" maxlength="128" #street="ngModel">

      <!-- Street for District -->
      <div *ngIf="street.errors && ngForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
        <div *ngIf="street.errors.minlength" class="text-danger">
          Street must be at least 2 characters long.
        </div>
        <div *ngIf="street.errors.maxlength" class="text-danger">
          Street must be maximum 128 characters long.
        </div>
        <div *ngIf="street.errors.required" class="text-danger">
          Street must is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="additionalInfoId">Additional Info</label>
      <input class="form-control" id="additionalInfoId" [(ngModel)]="addressClass.additionalInfo" name="additionalInfo"  maxlength="500" #additionalInfo="ngModel">

      <div *ngIf="additionalInfo.errors && ngForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
        <div *ngIf="additionalInfo.errors.maxlength" class="text-danger">
          Additional Info must be maximum 500 characters long.
        </div>
      </div>
    </div>




    <button type="submit" class="btn btn-primary">Update Address</button>

  </form>
</div>
