<div class="container-fluid text-center">
  <div class="row">

    <!-- Sidebar -->
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Routes -->
    <div class="col-md-10">
      <div class="row text-center m-3">
        <h1 class="col">Routes</h1>
        <img (click)="openPassedRoutes()" src="../../../assets/archive.png" class="btn p-0 img-fluid float-right" style="height: 40px;" alt="Responsive image">
      </div>

      <div *ngIf="tokenStorageService.getUser().driver">

        <!-- Future Routes - Driver -->
        <div class="card m-3" >
          <div class="card-body">
            <h3 class="card-title">Future Routes as a Driver: <img (click)="navigation.open('profile/routes/create')" src="../../../assets/add.png" class="btn p-0 img-fluid float-right" style="height: 40px;" alt="Responsive image">
            </h3>

            <div class="row table-responsive-md m-3">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Car</th>
                    <th scope="col">Free Seats</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Map</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!futureRoutesAsDriver || this.futureRoutesAsDriver.length === 0">
                    <td colspan="7">No Future Routes as a Driver</td>
                  </tr>
                  <tr *ngFor="let route of this.futureRoutesAsDriver">
                    <td>{{route.dateRoute.toString().split('T').join(' ')}}</td>

                    <!-- From -->
                    <td>
                      <span *ngIf="route.officeDirection">
                        <span *ngFor="let routeStop of this.route.routeStops">
                          <span *ngIf="routeStop.passengerEnum.toString() == 'DRIVER'">
                            {{routeStop.address.district + ' ' + routeStop.address.street}}
                          </span>
                        </span>
                      </span>

                      <span *ngIf="!route.officeDirection">
                        {{this.findAddressById(route.officeAddressId)}}
                      </span>
                    </td>

                    <!-- To -->
                    <td>
                      <span *ngIf="route.officeDirection">
                        {{this.findAddressById(route.officeAddressId)}}
                      </span>

                      <span *ngIf="!route.officeDirection">
                        <span *ngFor="let routeStop of this.route.routeStops">
                          <span *ngIf="routeStop.passengerEnum.toString() == 'DRIVER'">
                            {{routeStop.address.district + ' ' + routeStop.address.street}}
                          </span>
                        </span>
                      </span>
                    </td>


                    <td>{{route.car.manufacturer + ' ' + route.car.model}}</td>
                    <td>
                      {{route.car.seats - route.routeStops.length}}
                    </td>
                    <td>
                      <div (click)="navigation.open('profile/routes/edit/' + route.id)" >
                        <img class="btn p-0" src="../../../assets/edit.png" alt="Edit icon" style="height: 40px">
                      </div>
                    </td>
                    <td>
                      <div (click)="viewOnMap(route.id)" >
                        <img class="btn p-0" src="../../../assets/map-icon.svg" alt="Map icon" style="height: 40px">
                      </div>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Future Routes - Passenger -->


        <div class="card m-3" >
          <div class="card-body">

            <h3 class="card-title">Future Routes as a Passenger:</h3>
            <table class="table table-responsive-md table-hover">
              <div>{{errorMessage}}</div>
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Car</th>
                  <th scope="col">Driver Username</th>
                  <th scope="col">Is Approved?</th>
                  <th scope="col"></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngIf="!combinedFutureRoutesAsPassenger || combinedFutureRoutesAsPassenger.length === 0">
                  <td colspan=7>No Future Routes as a Passenger</td>
                </tr>
                <tr *ngFor="let combinedData of this.combinedFutureRoutesAsPassenger">
                  <td>{{combinedData.route.dateRoute.toString().split('T').join(' ')}}</td>

                  <!-- From -->
                  <td>
                    <span *ngIf="combinedData.route.officeDirection">
                        {{combinedData.userRouteStop.address.district + ' ' + combinedData.userRouteStop.address.street}}
                    </span>

                    <span *ngIf="!combinedData.route.officeDirection">
                        {{this.findAddressById(combinedData.route.officeAddressId)}}
                    </span>
                  </td>

                  <!-- To -->
                  <td>
                    <span *ngIf="combinedData.route.officeDirection">
                      {{this.findAddressById(combinedData.route.officeAddressId)}}
                    </span>

                    <span *ngIf="!combinedData.route.officeDirection">
                        {{combinedData.userRouteStop.address.district + ' ' + combinedData.userRouteStop.address.street}}
                    </span>
                  </td>

                  <!-- Manufacturer -->
                  <td>{{combinedData.route.car.manufacturer + ' ' + combinedData.route.car.model}}</td>

                  <!-- Driver -->
                  <td>
                    <span *ngFor="let routeStop of this.combinedData.route.routeStops">
                      <span *ngIf="routeStop.passengerEnum.toString() == 'DRIVER'">
                        {{routeStop.userId.username}}
                      </span>
                    </span>
                  </td>

                  <!-- Is Approved? -->
                  <td>
                    <span *ngIf="combinedData.userRouteStop.approved">Approved</span>
                    <span *ngIf="!combinedData.userRouteStop.approved">Not Approved</span>
                  </td>

                  <td>
                    <button class="btn btn-danger" (click)="deleteRouteStop(combinedData.userRouteStop)">X</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>




    </div>
  </div>
</div>
