<div class="container text-center">

  <div class="card m-4" >
    <div class="card-body">
      <h3 class="card-title">Save a Seat for:</h3>

      <form #routeForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row m-3">
          <!-- Date -->
          <div class="col-md-6">
            <h5>Date:</h5>
            <div id="date">{{this.route.dateRoute}}</div>
          </div>

          <!-- Car -->
          <div class="col-md-6">
            <h5>Car:</h5>
            <div id="car">{{this.car.manufacturer + ' ' + this.car.model + ' ' + this.car.year}}</div>
          </div>
        </div>

        <div class="row m-3">
          <!-- From -->
          <div class="col-md-6">
            <h5 *ngIf="!route.officeDirection">From where:</h5>
            <h5 *ngIf="route.officeDirection">To where:</h5>
            <div id="from">
              {{ this.startAddressRoute.city.name + ' ' + this.startAddressRoute.district + ' ' + this.startAddressRoute.street + ' '}}
              <span *ngIf="startAddressRoute.additionalInfo">{{startAddressRoute.additionalInfo}}</span>
            </div>
          </div>

          <!-- Seats -->
          <div class="col-md-6">
            <h5>Seats:</h5>
            <div id="seats">
              <span *ngIf="route.routeStops.length < car.seats">{{car.seats - route.routeStops.length}} free seat(s) left.</span>
              <span *ngIf="route.routeStops.length >= car.seats">There are no free seats left.</span>
            </div>
          </div>
        </div>


        <!-- Addresses -->
        <div class="form-group m-3">
          <h5 *ngIf="route.officeDirection">From where:</h5>
          <h5 *ngIf="!route.officeDirection">To where:</h5>
          <div>
            <select id="where" [(ngModel)]="selectedAddress" name="address">
              <option value="" >Choose your address</option>
              <option *ngFor="let address of userAddresses" [ngValue]="address" >
                {{address.city.name + ', ' + address.district + ', ' + address.street}}
              </option>
            </select>

          </div>

          <!-- Validation for Company Addresses -->
          <div *ngIf="!selectedAddress && routeForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
            <div class="text-danger">
              Address is required.
            </div>
          </div>
        </div>


        <!-- Error Message -->
        <div class="text-danger">{{errorMessage}}</div>

        <button *ngIf="route.routeStops.length < car.seats" type="submit" class="btn btn-primary">Save a Seat</button>
        <span class="btn btn-secondary" *ngIf="route.routeStops.length >= car.seats"> No free seats. :(</span>
      </form>


    </div>
  </div>

  </div>
