<div class="container" style="text-align: -webkit-center;">

  <div class="card text-center mt-5" style="width:60%;">
    <div class="card-body">
      <h3 class="card-title">Create New Car</h3>

      <form #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)">

        <div class="row m-1">
          <!-- Manufacturer -->
          <div class="form-group col-md-6">
            <label for="manufacturer">Manufacturer</label>
            <input class="form-control" id="manufacturer" [(ngModel)]="car.manufacturer" name="manufacturer" required minlength="2" maxlength="30" #manufacturer="ngModel">

            <!-- Validation for Manufacturer -->
            <div *ngIf="manufacturer.errors && ngForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
              <div *ngIf="manufacturer.errors.minlength" class="text-danger">
                Manufacturer must be at least 2 characters long.
              </div>
              <div *ngIf="manufacturer.errors.maxlength" class="text-danger">
                Manufacturer must be maximum 30 characters long.
              </div>
              <div *ngIf="manufacturer.errors.required" class="text-danger">
                Manufacturer is required.
              </div>
            </div>
          </div>

          <!-- Model -->
          <div class="form-group col-md-6">
            <label for="model">Model</label>
            <input class="form-control" id="model" [(ngModel)]="car.model" name="model" required minlength="2" maxlength="30" #model="ngModel">

            <!-- Validation for Model -->
            <div *ngIf="model.errors && ngForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
              <div *ngIf="model.errors.minlength" class="text-danger">
                Model must be at least 2 characters long.
              </div>
              <div *ngIf="model.errors.maxlength" class="text-danger">
                Model must be maximum 30 characters long.
              </div>
              <div *ngIf="model.errors.required" class="text-danger">
                Model is required.
              </div>
            </div>
          </div>
        </div>

        <div class="row m-1">
          <!-- Year -->
          <div class="form-group col-md-6">
            <label for="year">Year</label>
            <input class="form-control" type="number" id="year" [(ngModel)]="car.year" name="year" required minlength="4" maxlength="4" min="1900" max="2022" #year="ngModel">

            <!-- Validation for Year -->
            <div *ngIf="year.errors && ngForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
              <div *ngIf="year.errors.minlength" class="text-danger">
                Year must be 4 digits long.
              </div>
              <div *ngIf="year.errors.maxlength" class="text-danger">
                Year must be 4 digits long.
              </div>
              <div *ngIf="year.errors.required" class="text-danger">
                Year is required.
              </div>
              <div *ngIf="year.errors.max" class="text-danger">
                MAX exceeded.
              </div>
            </div>
          </div>

          <!-- Seats -->
          <div class="form-group col-md-6">
            <label for="seats">Seats (With the driver seat!)</label>
            <input class="form-control" type="number" id="seats" [(ngModel)]="car.seats" name="seats" required minlength="1" maxlength="2" #seats="ngModel">

            <!-- Validation for Seats -->
            <div *ngIf="seats.errors && ngForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
              <div *ngIf="seats.errors.minlength" class="text-danger">
                Seats must be more than 1 and less than 10.
              </div>
              <div *ngIf="seats.errors.maxlength" class="text-danger">
                Seats must be 2 digits long.
              </div>
              <div *ngIf="seats.errors.required" class="text-danger">
                Seats are required.
              </div>
            </div>
          </div>
        </div>

        <!-- Color -->
        <div class="form-group col-md-6">
          <label for="color">Color</label>
          <input class="form-control" id="color" [(ngModel)]="car.color" name="color" required minlength="3" maxlength="30" #color="ngModel">

          <!-- Validation for Color -->
          <div *ngIf="color.errors && ngForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
            <div *ngIf="color.errors.minlength" class="text-danger">
              Color must be at least 3 characters long.
            </div>
            <div *ngIf="color.errors.maxlength" class="text-danger">
              Color must be maximum 30 digits long.
            </div>
            <div *ngIf="seats.errors.required" class="text-danger">
              Color is required.
            </div>
          </div>
        </div>

        <!-- Error Message -->
        <div class="text-danger">{{errorMessage}}</div>

        <button type="submit" class="btn btn-primary">Add New Car</button>
      </form>

    </div>
  </div>


</div>
