<div class="container" style="text-align: -webkit-center;">


  <div class="card text-center m-5" style="width:80%;">
    <div class="card-body m-3">
      <h3 class="card-title">Edit Route</h3>
      <form #routeForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
          <!-- Direction -->
          <div class="form-group col">Direction:
            <div *ngIf="officeDirection">
              <div class="btn btn-info" >Office</div>
              <div class="btn btn-light" (click)="changeDirection()" >Home</div>
            </div>
            <div *ngIf="!officeDirection">
              <div class="btn btn-light" (click)="changeDirection()" >Office</div>
              <div class="btn btn-info" >Home</div>
            </div>
          </div>
        </div>

        <div class="row m-3">
          <!-- Company Addresses -->
          <div class="form-group col">
            <label >
              <div *ngIf="officeDirection">To where:</div>
              <div *ngIf="!officeDirection">From where:</div>
            </label>
            <div>
              <select  [(ngModel)]="selectedCompanyAddress.id" name="selectedCompanyAddress">
                <option name="address" value="">Choose your address</option>
                <option *ngFor="let address of companyAddresses" [ngValue]="address.id" [selected]="address?.id == selectedCompanyAddress?.id">
                  {{address.city.name + ', ' + address.street}}
                </option>
              </select>
            </div>

          </div>

          <!-- User Addresses -->
          <div class="form-group col">
            <label for="where">
              <div *ngIf="officeDirection">From where:</div>
              <div *ngIf="!officeDirection">To where:</div>
            </label>
            <div>
              <select id="where" [(ngModel)]="selectedAddress.id" name="selectedAddress">
                <option name="address" value="">Choose your address</option>
                <option *ngFor="let address of addresses" [ngValue]="address.id" [selected]="address?.id == selectedAddress?.id">
                  {{address.city.name + ', ' + address.street}}
                </option>
              </select>
            </div>

            <!-- Validation for Addresses -->
            <div *ngIf="!selectedAddress.id && routeForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
              <div class="text-danger">
                Address is required.
              </div>
            </div>
          </div>
        </div>

        <div class="row m-3">
        <!-- Date -->
        <div class="form-group col">
          <label>Date Time:</label>
          <div>
            <input [(ngModel)]="date" [min]="today" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1" name="date">
            <owl-date-time #dtPicker1></owl-date-time>
          </div>
        </div>

        <!-- Cars -->
        <div class="form-group col">
          <label for="car">Which Car:</label>
          <div>
            <select id="car" [(ngModel)]="selectedCar.id" name="car">
              <option name="car" value="">Choose your car</option>
              <option *ngFor="let car of cars" [ngValue]="car.id" [selected]="car?.id == selectedCar?.id">
                {{car.manufacturer + ', ' + car.model + ', ' + car.year}}
              </option>
            </select>
          </div>

          <!-- Validation for Cars -->
          <div *ngIf="!selectedCar.id && routeForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
            <div class="text-danger">
              Car is required.
            </div>
          </div>
        </div>
        </div>

        <div class="text-danger">
          {{errorMessage}}
        </div>

        <button type="submit" class="btn btn-primary m-2">Update Route</button>
        <button type="button" class="btn btn-outline-secondary m-2" data-toggle="modal" data-target="#cancelRoute">Cancel Route</button>

        <!-- Modal -->
        <div class="modal fade" id="cancelRoute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to cancel the route?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Once you cancel the route you can not revert it.
              </div>
              <div class="modal-footer">
                <button type="button" (click)="cancelRoute()" class="btn btn-primary" data-dismiss="modal">The route will not happen!</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>
