<div class="container-fluid text-center">

  <div class="row text-center" >
    <h1 class="col m-3">
      <u class="p-3 rounded-bottom" style="background: white;">
        Archive
        <img class="m-1" src="../../../assets/orange-archive.png" alt="Archive" style="height: 40px">
      </u>
    </h1>
  </div>

  <div class="row">

    <div class="col-md-1"></div>

    <!-- Routes -->
    <div class="col-md-10">
      <div *ngIf="tokenStorageService.getUser().driver" class="m-3">

        <div class="card">
          <div class="card-body">
            <h3>Last Routes as a Driver:</h3>

            <div style="justify-content: center">
              <div class="row table-responsive-md">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col" (click)="sortByDateAsDriver()">Date<i class="fa fa-fw fa-sort"></i></th>
                      <th scope="col">From</th>
                      <th scope="col">To</th>
                      <th scope="col">Car</th>
                      <th scope="col">Free Seats</th>
                      <th scope="col">Map</th>
                    </tr>
                  </thead>

                  <tbody>
                  <tr *ngIf="userRoutesAsDriver.length === 0">
                    <td colspan=6 >Nothing to show</td>
                  </tr>
                  <tr *ngFor="let route of this.userRoutesAsDriver">
                    <td>{{route.dateRoute.toString().split('T').join(' ')}}</td>

                    <!-- From -->
                    <td>
                    <span *ngIf="route.officeDirection">
                      <span *ngFor="let routeStop of this.route.routeStops">
                        <span *ngIf="routeStop.passengerEnum.toString() == 'DRIVER'">
                          {{routeStop.address.district + ' ' + routeStop.address.street}}
                        </span>
                      </span>
                    </span>

                    <span *ngIf="!route.officeDirection">
                      {{this.findAddressById(route.officeAddressId)}}
                    </span>
                    </td>

                    <!-- To -->
                    <td>
                      <span *ngIf="route.officeDirection">
                        {{this.findAddressById(route.officeAddressId)}}
                      </span>

                          <span *ngIf="!route.officeDirection">
                        <span *ngFor="let routeStop of this.route.routeStops">
                          <span *ngIf="routeStop.passengerEnum.toString() == 'DRIVER'">
                            {{routeStop.address.district + ' ' + routeStop.address.street}}
                          </span>
                        </span>
                      </span>
                    </td>


                    <td>{{route.car.manufacturer + ' ' + route.car.model}}</td>
                    <td>
                      {{route.car.seats - route.routeStops.length}}
                    </td>
                    <td>
                      <div (click)="viewOnMap(route.id)" >
                        <img class="btn p-0" src="../../../../assets/map-icon.svg" alt="Map icon" style="height: 40px">
                      </div>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="row justify-content-center">
              <div *ngIf="this.limitDriver != -1 && userRoutesAsDriver.length > 10"  class="btn btn-primary" (click)="showAllPastRoutesAsDriver()">Show All</div>
              </div>

            </div>


          </div>
        </div>

        <!-- Last Routes - Driver -->
        <div class="row m-3" style="justify-content: center">

        </div>


      </div>


      <!-- Last Routes - Passenger -->
      <div class="card m-3">
        <div class="card-body">
          <h3>Last Routes as a Passenger:</h3>
            <div class="table-responsive-md">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" (click)="sortByDateAsPassenger()" >Date<i class="fa fa-fw fa-sort"></i></th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Car</th>
                    <th scope="col">Driver Username</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngIf="userRoutesAsPassenger.length === 0">
                    <td colspan="5">Nothing to show</td>
                  </tr>
                  <tr *ngFor="let route of this.userRoutesAsPassenger">
                    <td>{{route.dateRoute.toString().split('T').join(' ')}}</td>

                    <!-- From -->
                    <td>
                      <span *ngIf="route.officeDirection">
                        <span *ngFor="let routeStop of this.route.routeStops">
                          <span *ngIf="routeStop.passengerEnum.toString() == 'DRIVER'">
                            {{routeStop.address.district + ' ' + routeStop.address.street}}
                          </span>
                        </span>
                      </span>

                      <span *ngIf="!route.officeDirection">
                          {{this.findAddressById(route.officeAddressId)}}
                      </span>
                    </td>

                    <!-- To -->
                    <td>
                        <span *ngIf="route.officeDirection">
                          {{this.findAddressById(route.officeAddressId)}}
                        </span>

                      <span *ngIf="!route.officeDirection">
                          <span *ngFor="let routeStop of this.route.routeStops">
                            <span *ngIf="routeStop.passengerEnum.toString() == 'DRIVER'">
                              {{routeStop.address.district + ' ' + routeStop.address.street}}
                            </span>
                          </span>
                        </span>
                    </td>


                    <td>{{route.car.manufacturer + ' ' + route.car.model}}</td>
                    <td>
                      <span *ngFor="let routeStop of this.route.routeStops">
                        <span *ngIf="routeStop.passengerEnum.toString() == 'DRIVER'">
                          <div (click)="openProfile(routeStop.userId.id)" class="btn btn-link">{{routeStop.userId.username}}</div>
                        </span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div *ngIf="this.limitPassenger != -1 && userRoutesAsPassenger.length > 14" class="btn btn-primary" (click)="showAllPastRoutesAsPassenger()">Show All</div>
        </div>
      </div>
    </div>

    <div class="col-md-1"></div>

  </div>
</div>
