<div class="container text-center">

  <div class="row" style="display: block;">
    <div class="card mt-4 mb-4" >
      <div class="card-body">
        <h3 class="card-title">Top Drivers:</h3>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col" (click)="orderByPassengers()">Total passengers <i class="fa fa-fw fa-sort-desc"></i></th>
              <th scope="col">Name</th>
              <th scope="col" (click)="orderByDrives()">Total drives <i class="fa fa-fw fa-sort-desc"></i></th>
              <th scope="col" (click)="orderByRating()" >Rating <i class="fa fa-fw fa-sort-desc"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of this.topUsers, let i = index">
              <th class="text-center" scope="row">{{i + 1}}</th>
              <td class="text-center">
                <div class="btn btn-link" (click)="openProfile(user.user.id)"> {{user.user.username}}</div>
              </td>
              <td>{{user.passengersNumber}}</td>
              <td>{{user.user.firstName + ' ' + user.user.lastName}}</td>
              <td>{{user.numberRides}}</td>
              <td *ngIf="user.rating">{{user.rating}}</td>
              <td *ngIf="!user.rating">No ratings</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" style="height: 300px">
    <h4>Drivers vs Nondrivers</h4>
    <ngx-charts-pie-chart
      [scheme]="colorScheme"
      [results]="pieChartData"
      [legend]="showLegend"
      [labels]="showLabels"
    >
    </ngx-charts-pie-chart>
  </div>

  <div class="row justify-content-center">
    <!-- Top Drivers by Rating -->
      <h4>Top drivers by rating</h4>
      <ngx-charts-bar-horizontal
        [scheme]="colorScheme"
        [results]="horizontalChartSortedByRating"
        [gradient]="false"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="'Rating'"
        [yAxisLabel]="yAxisLabel"
        [trimXAxisTicks]="false"
      >
      </ngx-charts-bar-horizontal>
  </div>



  <!-- Top Drivers by Passengers -->
  <div class="row justify-content-center">
    <h4 >Passengers per driver</h4>
    <ngx-charts-bar-horizontal
      [scheme]="colorScheme"
      [results]="horizontalChartSortedByPassengers"
      [gradient]="false"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
    >
    </ngx-charts-bar-horizontal>
  </div>

  <!-- Top Drivers by Drives -->
  <div class="row justify-content-center">
    <h4 >Routes per driver</h4>
    <ngx-charts-bar-horizontal
      [scheme]="colorScheme"
      [results]="horizontalChartSortedByDrives"
      [gradient]="false"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="'Routes'"
      [yAxisLabel]="yAxisLabel"
    >
    </ngx-charts-bar-horizontal>
  </div>

</div>
