<div class="container-fluid text-center">
  <div class="row">

    <!-- Sidebar -->
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10" style="text-align: -webkit-center;">

      <div class="card m-4" style="width: 60%;">
        <div class="card-body">
          <img class="card-img-top" src="../../../assets/wheel.svg" alt="Wheel" style="height: 250px;">

          <h3 class="card-title m-4">Become a Driver</h3>

          <form #driverForm="ngForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label for="isDriver">I have valid driving license </label>
              <input class="ml-2" type="checkbox" [(ngModel)]="isDriverCheckbox" name="isDriver" id="isDriver">
            </div>

            <button type="submit" class="btn btn-primary">Become Driver</button>
          </form>

        </div>
      </div>
    </div>




  </div>
</div>
